{% load static %}
<html>
    <head>
      <title>Series Vistas</title>
          <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
          <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
          <link href='//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
          <link href="{% static 'css/series.css' %}" type="text/css" rel="stylesheet" media="screen,projection"/>
          <link href="{% static 'css/perspectiveLeft.scss' %}" type="text/css" rel="stylesheet" media="screen,projection"/>

    </head>
    <body>
      <div class="page-header">

        {% if user.is_authenticated %}
             <a href="{% url 'serie_new' %}" class="top-menu"><span class="glyphicon glyphicon-plus"></span></a>
             <p class="top-menu">Hello {{ user.username }} <small>(<a href="{% url 'logout' %}">Log out</a>)</small></p>
         {% else %}
             <a href="{% url 'login' %}" class="top-menu"><span class="glyphicon glyphicon-lock"></span></a>
         {% endif %}
        <h1><a href="/">Series Vistas</a></h1>
      <div>
      <h4><a href="/calendario" class="submenu">calendario</a></h4>
      <h4><a href="/" class="submenu"></a></h4>
    </div>
  </div>
  <div class="content container">
    <div class="row">
      <div class="col-md-8">
        {% block content %}
        {% endblock %}
      </div>
    </div>
  </div>

</body>

</html>
