{% extends 'series/base.html' %}

{% block content %}
<div class="grande">
  <a href="{% url 'series2018'%}">
    <div class="tarjeta" class="animated bounce infinite">
      <div class="titulo3">
        <h2 >Series 2018</h2>
      </div>
      <img src="../../static/img/flash.jpg" alt="">
    </div>
  </a>
  <a href="{% url 'series2019'%}">
    <div class="tarjeta" class="animated bounce infinite">
      <div class="titulo3">
        <h2 >Series 2019</h2>
      </div>
      <img src="../../static/img/jdt.jpg" alt="">
    </div>
  </a>
  <a href="{% url 'series2020'%}">
    <div class="tarjeta" class="animated bounce infinite">
      <div class="titulo3">
        <h2 >Series 2020</h2>
      </div>
      <img src="../../static/img/arrow.jpg" alt="">
    </div>
  </a>
</div>



<div class="grande">
  <a href="{% url 'proximamente'%}">
    <div class="tarjeta" class="animated bounce infinite">
      <div class="titulo3">
        <h2 >Series 2021</h2>
      </div>
      <img src="../../static/img/proximamente.png" alt="">
    </div>
  </a>
  <a href="{% url 'proximamente'%}">
    <div class="tarjeta" class="animated bounce infinite">
      <div class="titulo3">
        <h2 >Series 2022</h2>
      </div>
      <img src="../../static/img/proximamente.png" alt="">
    </div>
  </a>
  <a href="{% url 'proximamente'%}">
    <div class="tarjeta" class="animated bounce infinite">
      <div class="titulo3">
        <h2 >Series 2023</h2>
      </div>
      <img src="../../static/img/proximamente.png" alt="">
    </div>
  </a>
</div>

<div class="grande">
<a href="{% url 'series_list'%}">
  <div class="tarjeta" class="animated bounce infinite">
    <div class="titulo3">
      <h2 >Todas las series</h2>
    </div>
    <img src="../../static/img/sucesor.jpg" alt="">
  </div>
</a>
</div>


{% endblock %}
