{% extends 'series/base.html' %}
{% block content %}
<div class="total left">

<div class="left">
  <div class="titulo2">
    <div>
      <h2>Serie</h2>
    </div>
  </div>
  {% for serie in series %}
  <div>
    <div class="titulo">
      <div class="post">
        <h2><a href="{% url 'serie_edit' serie.serie %}">{{ serie.serie }}</a></h2>
      </div>
    </div>
  </div>
  {% endfor %}
</div>
<div class="left">
  <div class="titulo2">
    <h2 >Temporadas</h2>
  </div>
  {% for serie in series %}
  <div>
    <div class="titulo">
      <div class="post">
        <h2>{{ serie.temporadas }}</h2>
      </div>
    </div>
  </div>
  {% endfor %}
</div>
<div class="left">
  <div class="titulo2">
    <h2 >Finalizado</h2>
  </div>
  {% for serie in series %}
  <div>
    <div class="titulo">
      <div class="post">
        <h2>{{ serie.finalizado }}</h2>
      </div>
    </div>
  </div>
  {% endfor %}
</div>
</div>
<div class="left info">
    <div class="titulo2">
      <h2 >Total</h2>
    </div>
  <div class="titulo">

      <h3>Vistas</h3>
      <h3>{{info.0}}</h3>
      <h3>Temporadas</h3>
      <h3>{{info.1}}</h3>
      <h3>Finalizadas</h3>
      <h3>{{info.2}}</h3>

    </div>
  </div>

{% endblock %}
